.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid black;
  /* background-color: #eceff1; */
  /* box-shadow: 0 1rem 0.5rem -1rem #757575; */
  display: flex;
  background-color: #b2c8df;

  .navBar__logo {
    z-index: 1000;

    img {
      width: 100px;
      padding: 10px;
    }
  }

  .navBar__btn {
    position: fixed;
    z-index: 999;
    right: 10px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel {
    position: fixed;
    /* top: 60px; */
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    background-color: #b2c8df;
    /* transition: transform .3s ease, opacity .3s ease; */

    /* Como quiero que se mueva el menu */
    /* De arriba */
    transform: translate(0, -100%);
    /* De abajo */
    /* transform: translate(0, 100%); */
    /* De la derecha */
    /* transform: translate(100%, 0); */
    /* De la izquierda */
    /* transform: translate(-100%, 0); */
  }
  .panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    height: 51vh;
  }

  .menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    a {
      padding: 2rem;
      width: inherit;
      display: block;
      font-size: 1.5rem;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease;
    }

    a:hover {
      font-weight: bold;
      color: var(--second-color);
    }
  }

  @media screen and (min-width: 768px) {
    .navBar__btn {
      display: none;
    }

    .panel {
      transform: translate(0, 0);
      position: relative;
      top: 0;
      flex-direction: row;
      /* height: 55vh; */
      background-color: inherit;
      /* transition: none; */

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: calc(100% - 89.73px);

        a {
          font-size: 1rem;
          padding: 1rem;
          /* color: black; */
          transition: none;
          width: auto;
        }
      }
    }
  }
}
